@model IEnumerable<CYJ.Models.WORKSTREAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";

}

<h2>Workstreams</h2>
<p>
    <div class="col-md-3">
        <input type="button" class="btn btn-info" value="ADD A NEW WORKSTREAM" onclick="@("window.location.href='" + @Url.Action("Create", "Workstreams1") + "'");" />
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.workstreamName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.workstreamName)
            </td>
            <td>
                <button class="btn btn-primary btn-fab btn-fab-mini btn-round" rel="tooltip" title="Click to Edit Workstream" type="button" style="background-color:#FBAE3B" title="Edit"
                        onclick="location.href='@Url.Action("Edit", new { id = item.workstreamID })'">
                    <i class="material-icons ">create</i>
                </button>

                <button class="btn btn-primary btn-fab btn-fab-mini btn-round" rel="tooltip" title="Click to Deactivate Workstream" type="button" style="background-color:#F37158" title="Delete"
                        onclick="location.href='@Url.Action("Delete", new { id = item.workstreamID })'">
                    <i class="material-icons">delete</i>
                </button>
            </td>
        </tr>
    }

</table>
<div class="col-md-3">
    <input type="button" class="btn btn-info" value="Back to Add a New Item" onclick="@("window.location.href='" + @Url.Action("Add", "Home") + "'");" />
</div>